<div class="navbar navbar-light navbar-expand-lg py-2  fixed-top shadow heading">
  <div class="col-2 logo">Taiwan Bus Go!</div>
  <div class="col-9 menu">
    <ul>
      <li><a routerLink="./intro">首頁</a></li>
      <li><a routerLink="./hotel">飯店</a></li>
      <li><a routerLink="./bus">公車</a></li>
      <li><a routerLink="./product">產品</a></li>
      <li><a href="#">景點搜尋4</a></li>
    </ul>
  </div>
  <div class="col-1 cart">
    <button class="btn btn-primary">
      <i style="font-size: 30px" class="fas fa-cart-plus"></i>
      <div style="font-size: 10px" class="badge bg-danger"></div>
    </button>
  </div>
</div>
